*{
    padding: 0px;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
body{
    height: 100%;
    background: #121212;
    overflow: hidden;
}
.alert {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
    position: fixed;
    z-index: 20;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}
.chat-box{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100vh;
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
    pointer-events:none;
}

.remove-room form{
    display: grid;
    position: relative;
    bottom: 25px;
    left: 325px;
    width: 0px;
    z-index: 20;
    pointer-events:all;
}
.remove-room input{
    border-radius: 6px;
    color:black;
    font-weight: bold;
    border: 2px solid #f44336;
    height: 30px;
    background-color: white;
    transition-duration: 0.4s;
    width:100px;
    pointer-events:all;
}
.remove-room input:hover{
    background-color: #f44336;
    color:white;
}
.leave-room form{
    display: grid;
    position: relative;
    bottom: -5px;
    left: 210px;
    width: 0px;
    z-index: 20;
    pointer-events:all;

}
.leave-room input{
    border-radius: 6px;
    color:white;
    font-weight: bold;
    border: 2px solid #4CAF50;
    height: 30px;
    background-color: #4CAF50;
    transition-duration: 0.4s;
    width:100px;
    pointer-events:all;
}
.leave-room input:hover{
    background-color: white;
    color: black;
}
.chat-head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: 45px;
    background: #181818;
    border-radius: 5px 5px 0px 0px;
    z-index: 2;
    pointer-events:all;
}
.chat-head p {
    color: #2ecc71;
    padding: 8px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
}
.chat-head h2{
    color: white;
    padding: 8px;
    position: relative;
    left: -10px;
    display: inline-block;
}

.chat-body{
    height: 91vh;
    width: 100%;
    overflow: auto;
    z-index: 0;
    background: rgba(0,0,0,0);
    pointer-events:none;
}

.SendMess {
    background-color: #181818;
    position: relative;
    bottom: -40px;
    padding: 20px;
    z-index: 2;
    pointer-events:all;

}
.SendMess input{
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    resize: none;
    border: solid;
    background-color: #101010;
    border-color: #101010;
    box-shadow: #101010;
    color: #ffff;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    padding: 5px;
    bottom: 4px;
    transition-duration: 0.7s;
    pointer-events:all;

}
.SendMess input:hover{
    border-color: royalblue;
}
.msg-send{
    word-wrap: break-word;
    background: #121212;
    position: relative;
    margin: 10px auto;
    height: fit-content;
    right: 30px;
    top: 50px;
    width: 200px;
    padding: 5px 5px 5px 10px;
    z-index: 1;
}
.msg-send h1{
    position: relative;
    right: -55px;
    bottom: 15px;
    color: white;
    font-size: 0.8rem;
    word-wrap: break-word;
    pointer-events:all;

}
.msg-send span{
    position: relative;
    bottom: 25px;
    right: -55px;
    font-size: 16px;
    color: rgb(118, 143, 221);
}
.msg-send h2{
    position: relative;
    bottom: 10px;
    right: -75px;
    color: rgb(71, 71, 71);
    font-size: 0.7rem;
    pointer-events:all;

}
.msg-insert{
    display:grid;
    align-items: left;
    justify-content: left;
    pointer-events:all;
}
.confirm-boxes div div span{
    width: 300px;
    height: 100px;
    margin: auto;
    position: relative;
    background-color: #181818;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    z-index: 4;
}
.confirm-yes{
    position: relative;
    margin: auto;
    left: -344px;
    top: 50px;
    width: 65px;
    height: 20px;
    color: white;
    background-color: #f44336;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    z-index: 5;
}
.confirm-no{
    margin: auto;
    position: relative;
    left: -320px;
    top: 50px;
    width: 65px;
    height: 20px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    z-index: 5;

}
.confirm-boxes div{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 40%
}
.confirm-boxes div div{
    position: relative;
}
.context-username{
    width: 140px;
    height: 200px;
    position: relative;
    background-color: #1d1c1c;
    z-index: 100;
    border-radius: 7px;
}
.copyUser{
    width:inherit;
    height: 30px;
    background: #1D1C1C;
    position: relative;
    z-index: 200;
    border-radius: 7px;
}
#copyUser input:hover{
    background-color: rgb(75, 106, 197);
    color: white;
}
#copyText input:hover{
    background-color: rgb(75, 106, 197);
    color: white;
}
#deleteMess input:hover{
    background-color: rgb(194, 97, 97);
    color: white;
}
#deleteMess {
    position: relative;
    top: 2px;
}
.copyUser input{
    background: none;
    width: 130px;
    height: 25px;
    font-family: 'Titillium Web', sans-serif;
    border-color: #1d1c1c;
    color: rgb(160, 160, 160);
    border-radius: 3px;
    border-width: 0px;
    position: relative;
    text-align: left;
    left: 5px;
    padding-left: 5px;
    top: 5px;
}
#deleteMess input{
    color: rgb(182, 82, 82);
}
.kick{
    width:inherit;
    height: 30px;
    background: #1D1C1C;
    position: relative;
    z-index: 200;
    border-radius: 7px;
}
.kick input:hover{
    background-color: rgb(194, 97, 97);
    color: white;
}
.kick input{
    background: none;
    width: 130px;
    height: 25px;
    font-family: 'Titillium Web', sans-serif;
    border-color: #1d1c1c;
    color: rgb(182, 82, 82);
    border-radius: 3px;
    border-width: 0px;
    position: relative;
    text-align: left;
    left: 5px;
    padding-left: 5px;
    top: 5px;
}
.line1{
    position: relative;
    top: 5px;
    height: 1px;
    width: 125px;
    background-color: #444444;
    z-index: 400;
    left: 7.5px;
    border-radius: 1px;
}
.owner{
    width:inherit;
    height: 30px;
    background: #1D1C1C;
    position: relative;
    z-index: 200;
    border-radius: 7px;
    top: 2px;
}
.owner input{
    background: none;
    width: 130px;
    height: 25px;
    font-family: 'Titillium Web', sans-serif;
    border-color: #1d1c1c;
    color: rgb(58, 194, 164);
    border-radius: 3px;
    border-width: 0px;
    position: relative;
    text-align: left;
    left: 5px;
    top: 5px;
    padding-left: 5px;
}