.SendMess{
    flood-color: black;
}
.SendMess input[type=text]{
    color:white;
    background-color: black;
    border-radius: 20px;
}
.SendMess input[type=submit]{
    color:white;
    background-color: black;
}
.messages {
    color:rgb(192, 192, 192);
    font-family: 'Titillium Web', sans-serif;
}
body{
    background-color: #121212;
}