<link href="static/stylesheets/chat.css" rel="stylesheet" >
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="formLogin">
    <form id="roomSelect" action="" method = "POST">
        <div class="options">
            <input class="Input" type="text" name="name" placeholder="Room Name"></p>
            <input class="Input" type="password" name="password" placeholder="Room Password"></p>
            <input class="Submit" type="submit" name="join" value="Join Room"></p>
            <input class="Submit" type="submit" name="create" value="Create Room"></p>
        </div>
    </form>
</div>

<div class="rooms">
    <p>Rooms</p>
    <div class="line"></div>
    {% for room in rooms: %}
    <form id="remRoom" action="" method="POST">
        <input type="submit" name="joinS" value={{room}}>
    </form>
    {% endfor %}
</div>

<div class="topBar">
    <p>Chat Rooms</p>
</div>
<div class="sideBar">
    <div class="sepLine"></div>
    <p><a href="login">Login</a></p>
    <div class="sepLine"></div>
    <p><a href="register">Register</a></p>
    <div class="sepLine"></div>
    <p><a href="chat">Chat</a></p>
    <div class="sepLine"></div>
    <p><a href="logout">Logout</a></p>
    <div class="sepLine"></div>
    <p><a href="profile">Profile</a></p>
    <div class="sepLine"></div>
</div>
<div class="IncorrectPass" id="error">
    <p>{{context}}</p>
</div>