<link href="static/stylesheets/chat.css" rel="stylesheet" >
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
    socket = io()
    socket.on("displayError", function () {
        console.log("test")
    })
</script>

<div class="formLogin">
    <form id="roomSelect" action="" method = "POST">
        <div class="options">
            <input type="username" name="name" placeholder="Room Name">
            <input type="password" name="password" placeholder="Room Password">
            <input type="submit" name="create" value="Create Room">
            <input type="submit" name="join" value="Join Room">
        </div>
    </form>
</div>

<div class="rooms">
    <p>You currently have created {{count}} rooms:</p>
    {% if count != 0: %}
    <p>Click to join</p>
    {%endif%}
    {% for i in range(0, count): %}
    <form id="remRoom" action="" method="POST">
        <input type="submit" name="joinS" value={{rooms[i]}}>
    </form>
    {% endfor %}
</div>

<div class="topBar">
    <p>Chat Rooms</p>
</div>
<div class="sideBar">
    <div class="sepLine"></div>
    <p><a href="login">Login</a></p>
    <div class="sepLine"></div>
    <p><a href="register">Register</a></p>
    <div class="sepLine"></div>
    <p><a href="chat">Chat</a></p>
    <div class="sepLine"></div>
    <p><a href="logout">Logout</a></p>
    <div class="sepLine"></div>
</div>
<div class="IncorrectPass" id="error">
    <p>{{context}}</p>
</div>