<link href="static/stylesheets/login.css" rel="stylesheet" >
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<div class="formLogin">
    <form action="" method = "POST">
        <input class="Input" type = "text" name = "username" placeholder="Username"/></p>
        <input class="Input" type = "password" name = "password" placeholder="Password"/></p>
        <input class="Submit" type = "submit" value = "Submit" /></p>
    </form>
</div>

<div class="topBar">
    <p>Login</p>
</div>
<div class="sideBar">
    <div class="sepLine"></div>
    <p><a href="login">Login</a></p>
    <div class="sepLine"></div>
    <p><a href="register">Register</a></p>
    <div class="sepLine"></div>
    <p><a href="chat">Chat</a></p>
    <div class="sepLine"></div>
    <p><a href="logout">Logout</a></p>
    <div class="sepLine"></div>
</div>
<div class="IncorrectPass">
    <p>{{context}}</p>
</div>