<link href="static/stylesheets/login.css" rel="stylesheet" >
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="formLogin">
    <form action="" method = "POST">
        <input class="Input" type = "text" name = "username" placeholder="Username"/></p>
        <input class="Input" type = "password" name = "password" placeholder="Password"/></p>
        <input class="Submit" type = "submit" value = "Submit" /></p>
    </form>
</div>

<div class="topBar">
    <p>Login</p>
</div>
<div class="sideBar">
    <div class="sepLine"></div>
    <p><a href="login">Login</a></p>
    <div class="sepLine"></div>
    <p><a href="register">Register</a></p>
    <div class="sepLine"></div>
    <p><a href="chat">Chat</a></p>
    <div class="sepLine"></div>
    <p><a href="logout">Logout</a></p>
    <div class="sepLine"></div>
</div>
<div class="IncorrectPass">
    <p>{{context}}</p>
</div>

<script>
    var form = $(".formLogin").on("submit", function (e) {
        let content = $("form").serializeArray();
        let pass = content[1].value;
        let username = content[0].value;

        if (pass.length < 6 || pass.length > 32 || username.length < 4 || username.length > 16) {
            $(".IncorrectPass").children()[0].textContent = "Incorrect username or password"
            e.preventDefault();
            return;
        }
    });
</script>