<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="static/stylesheets/message.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="wrapper">
    <div class="chat-box">
        <div class="chat-head" id="chat-head">
            <p>Room:</p>
            <h2>{{session["room"]}}</h2>
        </div>
        <div class="alert" id="alert" hidden="true">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            The host has deleted the room, you will be redirected in 7 seconds
        </div>
        <div class="chat-body" id="chat-body">
            <div class="msg-insert" id="msg-insert">
            </div>
        </div>
        <div class="SendMess" id="SendMess">
            <form action="" method="POST">
                <input type="text" class="message" placeholder="Message #{{session['room']}}" />
                <input type="hidden" value="Send Message" />
            </form>
        </div>
        <div class="leave-room" id="leave">
            <form action="" method="POST">
                <input type="submit" name="leave" value="Leave Room" />
            </form>
        </div>
        {% if admin %}
        <div class="rem-wrap">
            <div class="remove-room" id="remove">
                <form action="" method="POST">
                    <form action="" method="POST">
                        <input type="hidden" name="room" value="{{session['room']}}" />
                        <input type="submit" name="rem" value="Delete Room" />
                    </form>
                </form>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<div class="confirm-boxes" id="confirm-boxes">
    <div class="confirm-delete-box" id="confirm-delete-box" hidden="true">
        <div class="confirm-delete" id="confirm-delete">
            <span>Are you sure you want to delete this room?</span>
            <button class="confirm-yes" id="confirm-delete-yes">Delete</button>
            <button class="confirm-no" id="confirm-delete-no" onclick="document.getElementById('confirm-leave').style.left='0px';
                    this.parentElement.style.display='none';">Keep
            </button>
        </div>
    </div>
    <div class="confirm-leave-box" hidden="true">
        <div class="confirm-leave" id="confirm-leave">
            <span>Are you sure you want to leave this room?</span>
            <button class="confirm-yes" id="confirm-leave-yes">Leave</button>
            <button class="confirm-no" id="confirm-leave-no" onclick="document.getElementById('confirm-delete').style.left='0px';
                    this.parentElement.style.display='none';">Stay</button>
        </div>
    </div>
</div>
</div>
<div class="context-username" id="context-username" hidden="true">
    <div class="copyUser" id="copyUser" hidden="true">
        <form action="" method="POST">
            <input type="submit" name="copyUser" value="Copy Username" onclick="
            var usern = document.getElementsByClassName('username');
            var username = usernameh;
            var promise = navigator.clipboard.writeText(username);" />
        </form>
    </div>
    <div class="copyUser" id="copyText" hidden="true">
        <form action="" method="POST">
            <input type="submit" name="copyText" value="Copy Text" onclick="
            var usern = document.getElementsByClassName('content');
            var promise = navigator.clipboard.writeText(content);" />
        </form>
    </div>
    <div class="line1" id="line1"> </div>
    <div class="copyUser" id="deleteMess" hidden="true">
        <form action="" method="POST">
            <input type="submit" name="deleteMess" value="Delete Message" />
        </form>
    </div>
    <div class="owner" id="owner" hidden="true">
        <form action="" method="POST">
            <input type="submit" name="owner" value="Chat Room Owner" />
        </form>
    </div>
    <div class="line1" id="line1"></div>
    <div class="kick" id="kick" hidden="true">
        <form action="" method="POST">
            <input type="submit" name="kick" value="Kick User" />
        </form>
    </div>
    <div class="kick" id="ban" hidden="true">
        <form action="" method="POST">
            <input type="submit" name="kick" value="Ban User" />
        </form>
    </div>
    <div class="line1" id="line1" hidden="true"></div>
    <div class="unban" id="unban" hidden="true">
        <form action="" method="POST">
            <input type="submit" name="unban" value="Unban User" />
        </form>
    </div>
</div>
<div class="users" id="users">
    <div class="user" id="UsersList">
        <p>Current Users</p>
    </div>
</div>
<img id="arrow" class="arrow" hidden="true">
<div class="bannedUsers" id="bannedUsers" hidden="true">
    <button id="dropButton" hidden="true" onclick="dropDown()" class="dropbtn">Banned Users</button>
    <div id="bannedUsersSearch" class="bannedUsersSearch">
        <input type="text" placeholder="Search.." id="bannedSearchInput" class="bannedSearchInput" onkeyup="searchUsers()">
        <div id="banList" class="banList">

        </div> 
    </div>
</div>
<script type='application/javascript' src='./static/scripts/message.js'></script>